{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Open Printer Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
  </head>

  <body>
    <header class="pb-5">
      <nav class="navbar fixed-top navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <div style='color: white; font-size: large;'><strong>Open Printer Inventory Manager</strong></div>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" style="color: white; font-size: large;" href="#" data-toggle="modal" data-target="#addPrinterModal">Add Printer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white; font-size: large;" href="#">Refresh Toner Data</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      {% block content %}
      {% endblock content %}
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/holder.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
  </body>
</html>


