{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Open Printer Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
  </head>

  <body class="bg-light">
    <header class="pb-5">
      <nav class="navbar fixed-top navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a class="navbar-brand text-left" style='color: white; font-size: large;' href="{% url 'homepage' %}"><strong>Open Printer Inventory Manager</strong></a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" style="color: white; font-size: large;" href="#" data-toggle="modal" data-target="#addPrinterModal" data-backdrop="static">Add Printer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white; font-size: large;" href="{% url 'refresh-toner' %}">Refresh Toner Data</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  
    {% if messages %}
      <br>
      <div class="container">
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <br>
    <div class="container">
      <form method="post" id="toggles_form">
      {% csrf_token %}
        <div class="row py-3">

          <div class="col">
            <p>Last updated: {{ last_updated }}</p>
          </div>
          <div class="col-2">
            <div class="custom-control custom-switch">
              {{ toggles_form.location }}
              <label class="custom-control-label" for="{{ toggles_form.location.name }}" >{{ toggles_form.location.label }}</label>
            </div>
          </div>
          <div class="col-2">
            <div class="custom-control custom-switch">
              {{ toggles_form.ip_address }}
              <label class="custom-control-label" for="{{ toggles_form.ip_address.name }}" >{{ toggles_form.ip_address.label }}</label>
            </div>
          </div>
          <div class="col-2">
            <div class="custom-control custom-switch">
              {{ toggles_form.printer_model }}
              <label class="custom-control-label" for="{{ toggles_form.printer_model.name }}" >{{ toggles_form.printer_model.label }}</label>
            </div>
          </div>

        </div>
      </form>
    </div>   

    <main role="main">
      {% block content %}
      {% endblock content %}
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/holder.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% include 'app/add_printer_modal.html' %}
  </body>
</html>


