{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="album py-5 bg-light">
  <div class="container">

  {% for department_name in all_departments %}
    <div class="row">
      <h2>{{ department_name.department_name }}</h2>
    </div>
    <br>

    <div class="row">

      {% for printer in all_printers %}

        {% if printer.department_name == department_name.department_name %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">{{ printer.printer_name }}</h4>
                <p class="card-text">This is where the printer toner data would be located. Example:</p>
                <p class="card-text">Black: 70%</p>
                <p class="card-text">Magenta: 30%</p>
                <p class="card-text">Yellow: 100%</p>
                <p class="card-text">Cyan: 37%</p>
              </div>
            </div>
          </div>
        {% endif %}
      
      {% endfor %}

    </div>

  {% empty %}
    <h3>You don't have any printers added.</h3>
    <br>
    <h5>Click on "Add Printer" on the top bar to start.</h5>

  {% endfor %}
  </div>
</div>

{% endblock content %}