{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="album py-5 bg-light">
  <div class="container">

  {% for department_name in all_departments %}
    <div class="row">
      <h2>{{ department_name.department_name }}</h2>
    </div>
    <br>

    <div class="row">

      {% for printer in all_printers %}

        {% if printer.department_name == department_name.department_name %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              {% comment %} <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap"> {% endcomment %}
              <div class="card-body">
                <h3 class="card-title">{{ printer.printer_name }}</h3>
                <p class="card-title">Location: {{ printer.printer_location }}</p>
                <p class="card-title">IP Address: {{ printer.ip_address }}</p>
                <br>
                
                {% for printer_levels in all_toner_levels %}
                  {% if printer.printer_name == printer_levels.printer_name|stringformat:"s" %}
                    <p class="card-text"><strong>{{ printer_levels.module_identifier }}:</strong> {{ printer_levels.level }}%</p>
                  {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>
        {% endif %}
      
      {% endfor %}

    </div>

  {% empty %}
    <h3>You don't have any printers added.</h3>
    <br>
    <h5>Click on "Add Printer" on the top bar to start.</h5>

  {% endfor %}
  </div>
</div>

{% endblock content %}